body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
	/*background-color: #f2f2f2;*/
	background-color: #fff;
}

*,
::after,
::before {
	box-sizing: content-box !important;
}

.container {
	max-width: 1300px !important;
	padding-bottom: 200px;
	margin-top: 40px;
	font-size: 17px !important;
}

.nowrap {
	white-space: nowrap;
}

th {
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
}

h2 {
	padding-bottom: 15px;
}

.keywordRs {
	display: flex;
	gap: 20px;
	/* margin-bottom: 50px; */
	margin-top: 75px;
	border-bottom: 1px solid #696969;
	margin-bottom: 50px;
}

.title {
	width: 300px;
}

.createDt {
	width: 40px;
	white-space: nowrap;
}

td a {

	color: black !important;

}

td a:hover {
	color: rgb(237, 21, 93) !important;
	text-decoration: solid;

}

a {
	text-decoration: none !important;
}