@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

/* 모두를 감싸고 있는 부분 (Header,Body 공통 적용) */
main {
	box-sizing: border-box;
	padding-bottom: 170px;
}

body {

	font-family: 'Pretendard-Regular', sans-serif;

	overflow-x: hidden;
}

/* ----------------------------------- 새로운 헤더 div 순서대로 작성할 것 ----------------------------------- */
.header_container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main_logo_img_container {
	position: relative;
	bottom: 70px;
	height: 130px;
}


/* 애니버스 로고 */
.main_logo {
	width: 270px;
	height: 270px;
}

/* 메뉴 리스트 테마추천, 팬아트 등  */
.menu_list {
	display: flex;
	gap: 70px;
}

.a_tag {
	text-decoration-line: none;
	color: black;
	font-weight: bold;
	font-size: 1.2em;
}

.a_tag:hover {
	color: rgb(237, 21, 93);
	transform: scale(1.1);
	transition: 0.2s;
	cursor: pointer;
}


/* 검색창 */
.search_prop {
	margin-right: 10px;
	height: 30px;
	border-radius: 10px;
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	background-size: 20px;
	padding-left: 30px;
	font-size: 16px;
}

/* 유저 정보 */
.user_img {
	background-image: url('../images/profileImg.png');
	width: 50px;
	height: 50px;
	background-size: cover;
	background-repeat: no-repeat;
}

.user_id {
	text-align: center;
	font-weight: bold;
}

/* ----------------------------------- 새로운 헤더 끝 ----------------------------------- */

/* ----------------------------------- 스크롤 ----------------------------------- */
.scroll-top-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 70px;
	height: 70px;
	background-color: transparent;
	background-image: url('https://widit2.knu.ac.kr/~kiyang/teaching/IT/stPrj/happydpqhs/jam/%ED%83%91%EB%B2%84%ED%8A%BC.png');
	background-size: 70px 70px;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
	text-decoration: none;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
	z-index: 9999;
}

.scroll-top-btn i {
	display: block;
	transform: rotate(0deg);
}

.scroll-top-btn.show {
	opacity: 1;
	visibility: visible;
}

/* ----------------------------------- 스크롤 끝----------------------------------- */

/* 모달(Modal) 팝업의 스타일 */

.modal-div {
	display: flex;
	flex-direction: column;
}

#modal-left {
	flex-basis: 70%;
	display: flex;
}

#modal-left iframe {
	width: 100%;
}

#modal-left>div {
	text-align: center;
	flex-basis: 30%;
	background-color: #e9e3e3;
	padding: 10px;
	box-sizing: border-box;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.modal-content {
	background-color: #fefefe;
	/* background-color: #aaaaaa; */
	margin: 150px auto;
	/* 여기서 margin 값을 0으로 수정해주세요. */
	padding: 20px;
	border: none;
	max-width: 700px;
	height: 500px;
	position: fixed;

}

.close {
	width: 100px;
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover {
	color: #000;
}


/* 최애의 아이 메인사진 + 텍스트 */
.con1 {
	height: 600px;
	background-image: url('../images/i_main.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.con1_text {
	position: relative;
	top: 200px;
	left: 30px;
	width: 600px;
	height: 250px;
	background-image: url('../images/i_text.png');
	background-repeat: no-repeat;
	background-size: cover;

}

/* 주술회전 메인사진 + 텍스트 */
.con2 {
	width: 100%;
	height: 600px;
	background-image: url('../images/title_Img_1.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.con2_text {
	position: relative;
	top: 290px;
	left: 30px;
	width: 600px;
	height: 200px;
	background-image: url('../images/magic_rotation_text.png');
	background-repeat: no-repeat;
	background-size: cover;

}

/* 안경사진 + 텍스트 */
.con3 {
	width: 100%;
	height: 600px;
	background-image: url('../images/glass_main.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.con3_text {
	position: relative;
	top: 210px;
	left: 60px;
	width: 550px;
	height: 230px;
	background-image: url('../images/glass_text.png');
	background-repeat: no-repeat;
	background-size: cover;

}

/* 배너 버튼 */
.bannar-btn {
	position: relative;
	left: 30px;
	border: none;
	background-color: #ffffff;
	border-radius: 0.25em;
	padding: 0.75em 1.125em 0.75em 1.5em;
	font-size: 1.1em;
	/* z-index: 30; */
}

.bannar-btn:hover {
	cursor: pointer;

}

.i-btn {
	position: relative;
	top: 250px;
}

.magin-btn {
	position: relative;
	top: 320px;
}

.glass-btn {
	position: relative;
	top: 270px;
	left: 50px;
}

.bannar-btn:hover {
	background-color: gray;
}

/* 애니메이션 이름 */
#title_text {
	padding-top: 200px;
	margin-left: 70px;
}

/* 소개글 */
#intro {
	margin-left: 70px;
	padding-top: 10px;
	font-style: normal;
	font-weight: 350;
	font-size: 1.75em;
	color: rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0.25em;
}

/* 보러가기 버튼 */
#move_btn {
	width: 130px;
	height: 40px;
	margin-left: 70px;
	font-weight: bold;
	font-size: 1.4em;
	color: rgb(18, 18, 18);
	border-radius: 0.25em;
	background: rgb(255, 255, 255);
	border: 0;
	/* box-shadow: 0 2px 4px rgba(0, 0, 0, 2); */
	cursor: pointer;
}

/* 요일별 신작 */
#day {
	font-size: 25px;
	font-weight: bold;
}


/* 요일 버튼 */

.date_btn {
	height: 3.95em;
	width: 3.95em;
	border-radius: 50%;
	background-color: rgba(149, 149, 149, 0.544);
	border: 0;
	margin-right: 25px;
	border-style: groove;
}

.date_btn {
	transition: background-color 0.3s ease, transform 0.3s ease;
}

/* 요일 버튼 호버 */
.date_btn:hover {
	background-color: rgb(237, 21, 93) !important;
	cursor: pointer;
	transform: scale(1.1);
}

/* 월화수목금토일 sp태그 */
.sp {
	color: rgb(255, 255, 255);
	font-size: 20px;
}

/* 첫번째 사진+글 영역 */
.big_con {
	display: flex;
	gap: 15px;
}

.mini_con {
	display: flex;
	flex-direction: column;

}

/* 요일별 신작 제목 */
.photo_text {
	font-size: 15px;
	color: #505050;
	margin-top: 5px;
}

#photo img {
	width: 250px;
}

/* 사진+텍스트 컨테이너 */
.day_con {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.date_container {
	display: flex;
	flex-direction: column;
	gap: 50px;
	margin-top: 40px;
	margin-left: 60px;
}

/* 추천, 분기, 역대, 이번주 클릭 버튼 컨테이너 */
.select_btn_con {
	display: flex;
	gap: 5px;
	margin-top: 15px;
}

/* 버튼 4개*/
.select_btn {
	width: 80px;
	height: 40px;
	border-radius: 40px;
	border: 1px solid rgba(128, 128, 128, 0.277);
	font-size: 20px;
	color: #505050;
	font-size: 20px;
	font-weight: 550;
	background-color: rgba(255, 255, 255, 0.544);
}

.select_btn:hover {
	cursor: pointer;
	background-color: rgb(237, 21, 93);
	color: #fff;
}


/* 애니버스 인기애니 */
#best {
	font-size: 25px;
	font-weight: bold;
}

.text_con {
	display: flex;
	gap: 8px;
	margin-top: 5px;
}

.rank {
	font-size: 2em;
	font-weight: bold;
}

.title {
	font-weight: bold;
}

.list_container {
	/* display: flex; */
	margin-top: 20px;
}

.category {
	color: gray;
}

.container2 {
	display: flex;
	gap: 12px;
}

.img_size {
	width: 250px;
}

/* --------------------------------비디오 시작-------------------------------- */
.video_text {
	margin-bottom: 35px;
}

/* 첫번째 비디오 줄 */
.video_con {
	display: flex;
	gap: 30px;
}

/* 2번째 비디오 줄 */
.video_con3 {
	display: flex;
	gap: 30px;
}

/* 비디오 안 스판태그 */
#video_sp {
	font-size: 25px;
	font-weight: bold;
	border-radius: 15px 15px 15px 0;
	padding: 0.5em 0.6em;
	border: 3px solid #FFAD5B;
	color: #FF8000;
	/* border: 4px solid hsla(335, 100%, 62%, 0.599);
	color: #a1224a; */
}

/* 비디오 밑에 텍스트 */
#video_p,
#video_p2 {
	/* #688FF4; */
	padding: 0.5em;
	border-left: 10px solid #3b426b;
	border-bottom: 2px solid #3b426b;
	color: rgb(46, 46, 46);
	font-size: 23px;
	font-weight: 500;
}



/* --------------------------------비디오 끝 -------------------------------- */
/* 애니버스 팬아트 */
.container4 {
	display: flex;
	gap: 10px;
}

.container5 {
	display: flex;
	gap: 10px;
}

/* 작성자 컨테이너 */
.writer_con {
	display: flex;
	gap: 6px;
	font-size: 20px;
}

/* 팬아트 사진 사이즈 */
#fanArt_img {
	margin-bottom: 10px;
	width: 255px;
	height: 370px;
}

#fanArt {
	font-size: 25px;
	font-weight: bold;

}

#fanArt_rank {
	font-size: 22px;
	margin-top: 5px;
	font-weight: 500;
}

.fanArt_text {
	margin-bottom: 20px;
}

#fan_sp {
	font-size: 25px;
	font-weight: bold;
	border-bottom: 12px solid #dc0f5a87;
}

/* #fanArt_rank_btn {
	border: 0;
	border-radius: 7px;
	color: #505050;
	margin-top: 10px;
	
}

#fanArt_rank_btn:hover {
	background-color: #ff8a00;
} */


.title_2 {
	font-weight: bold;
	font-size: 20px;
}

/* ---------------------------풋터 ---------------------------*/

/* footer {
	width: auto;
	height: 220px;
	display: flex;
	background-color: #444343;
	margin-bottom: 0;
	font-family: 'Pretendard-Regular';
}

.footer_first {
	width: 35%;
	text-align: center;
	margin-top: -120px;
}


.footer_first>div:last-child {
	margin-top: -170px;
}

.footer_first strong {
	margin-top: -100px;
	color: white;
}

.footer_second {
	width: 45%;
	font-size: 17px;
}


.footer_second a {
	text-decoration: 0;
	color: white;
	padding-right: 30px;

}

p {
	color: white;
	font-size: 14px;
}

.footer_second>div:first-child {
	margin-top: 30px;
	margin-bottom: 50px;
}

.footer_third {
	width: 20%;
	display: flex;
	height: 100%;
	text-align: center;
	justify-content: center;
	padding-top: 60px;
}


.footer_third>i {
	color: white;
	width: 80px;
	font-size: 40px;

}

#text_box {
	display: none;
	color: white;
	text-align: center;
	font-size: 13px;
}

#footer_btn {
	border: 0;
	cursor: pointer;
	background-color: #444343;
} */
/* .fade-in {
	animation: fadeIn 0.5s ease;
	animation-fill-mode: forwards;
	opacity: 0;
}

.fade-out {
	animation: fadeOut 0.5s ease;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translateY(0);
	}

	to {
		opacity: 0;
		transform: translateY(-10px);
	}
} */