@charset "UTF-8";

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

/* 모두를 감싸고 있는 부분 (Header,Body 공통 적용) */
main {
	box-sizing: border-box;
	padding-bottom: 170px;
}

body {
	margin: 0;
	font-family: 'Pretendard-Regular', sans-serif;
	overflow-x: hidden;
}

/* 메인 부트스트랩 로고 사진 */

/* 최애의 아이 메인사진 + 텍스트 */
.con2 {
	height: 600px;
	background-image: url('../images/i_main.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.con2_text {
	position: relative;
	top: 200px;
	left: 30px;
	width: 600px;
	height: 250px;
	background-image: url('../images/i_text.png');
	background-repeat: no-repeat;
	background-size: cover;

}

/* 주술회전 메인사진 + 텍스트 */
.con3 {
	width: 100%;
	height: 600px;
	background-image: url('../images/title_Img_1.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.con3_text {
	position: relative;
	top: 290px;
	left: 30px;
	width: 600px;
	height: 200px;
	background-image: url('../images/magic_rotation_text.png');
	background-repeat: no-repeat;
	background-size: cover;

}

/* 안경사진 + 텍스트 */
.con1 {
	width: 100%;
	height: 600px;
	background-image: url('../images/glass_main.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.con1_text {
	position: relative;
	top: 210px;
	left: 60px;
	width: 550px;
	height: 230px;
	background-image: url('../images/glass_text.png');
	background-repeat: no-repeat;
	background-size: cover;

}

/* 배너 버튼 */
.bannar-btn {
	position: relative;
	left: 30px;
	border: none;
	background-color: #ffffff;
	border-radius: 0.25em;
	padding: 0.75em 1.125em 0.75em 1.5em;
	font-size: 1.1em;
	/* z-index: 30; */
}

.bannar-btn:hover {
	cursor: pointer;

}

.i-btn {
	position: relative;
	left: 390px;
	top: 250px;
}

.magin-btn {
	position: relative;
	top: 320px;
	left: 370px;
}

.glass-btn {
	position: relative;
	top: 270px;
	left: 460px;
}

.bannar-btn:hover {
	background-color: gray;
}

/* 애니메이션 이름 */
#title_text {
	padding-top: 200px;
	margin-left: 70px;
}

/* 소개글 */
#intro {
	margin-left: 70px;
	padding-top: 10px;
	font-style: normal;
	font-weight: 350;
	font-size: 1.75em;
	color: rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0.25em;
}

/* 보러가기 버튼 */
#move_btn {
	width: 130px;
	height: 40px;
	margin-left: 70px;
	font-weight: bold;
	font-size: 1.4em;
	color: rgb(18, 18, 18);
	border-radius: 0.25em;
	background: rgb(255, 255, 255);
	border: 0;
	/* box-shadow: 0 2px 4px rgba(0, 0, 0, 2); */
	cursor: pointer;
}

/* ----------------------------------- 부트스트랩 끝 ----------------------------------- */


/* 요일별 신작 */
.day-move-con {
	display: flex;
	/*gap: 1370px;*/
	justify-content: space-between;
	margin-right: 30px;
}

#day {
	font-size: 30px;
	font-weight: bold;
}

.day-move {
	border: 3px solid #e52e71;
	border-radius: 15px;
	text-decoration: none;
	font-size: 20px;
	color: #fff;
	/* 글씨 색상 변경 */
	font-weight: bold;
	padding: 10px 20px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s, transform 0.3s, color 0.3s;
	background-color: #e52e71;
	/* 배경 색상 변경 */
}

.day-move:hover {
	background-color: #fff;
	/* 호버 상태에서의 배경 색상 변경 */
	color: #e52e71;
	/* 호버 상태에서의 글씨 색상 변경 */
	transform: scale(1.1);
	/* 호버 상태에서의 크기 확대 */
}

/* 월화수목금토일 sp태그 */
.sp {
	color: rgb(255, 255, 255);
	font-size: 20px;
}

/* 보러가기 버튼 */



.date-con2 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 70px;
}

.date-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.date-div-text {
	font-size: 20px;
	font-weight: 500;
	/* border: 2px solid #ccc; */
	border-radius: 50%;
	text-align: center;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;

	/* 기본 배경색과 텍스트 색상 설정 */
	background-color: rgba(149, 149, 149, 0.544);
	color: #fff;
	/* 그림자 효과 */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	/* 호버 시 배경색과 텍스트 색상 변경 */
	transition: background-color 0.3s ease;
}

/* 호버 상태일 때 스타일 적용 */
.date-div-text:hover {
	background-color: #e52e71;
	color: #fff;
}

/* test*/

/* 첫번째 사진+글 영역 */
.big_con {
	display: grid;
	gap: 30px;
	/* 사진과 글 사이의 간격을 10px로 설정 */
	grid-template-columns: repeat(5, 1fr);
}

/* 요일별 신작 제목 */
.photo_text {
	font-size: 15px;
	color: #505050;
	margin-top: 5px;
	font-weight: 500;
}

#photo img {
	width: 290px;
	border-radius: 10px;

}

/* 사진+텍스트 컨테이너 */
.day_con {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.date_container {
	display: flex;
	flex-direction: column;
	gap: 50px;
	margin-top: 40px;
	margin-left: 60px;

}

.mini_con {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff;
	/* 각 mini_con에 배경색을 추가하여 더욱 뚜렷한 시각적 경계를 제공 */
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	/* 각 mini_con에 약간의 그림자를 추가하여 더욱 깊이감을 더함 */
	border-radius: 10px;

}

.date-div-text {
	order: -1;
	font-size: 20px;
	/* 요일별 신작 제목의 크기를 키움 */

}

/* ----------------------- 요일별 애니 끝 -----------------------*/

/* 추천, 분기, 역대, 이번주 클릭 버튼 시작 */

.select_btn_con {
	display: flex;
	gap: 5px;
	margin-top: 15px;
}

/* 버튼 4개 */
.select_btn {
	width: 80px;
	height: 40px;
	border-radius: 40px;
	border: 1px solid rgba(128, 128, 128, 0.277);
	font-size: 20px;
	color: #505050;
	font-size: 20px;
	font-weight: 550;
	background-color: rgba(255, 255, 255, 0.544);
	transition: background-color 0.3s, color 0.3s, transform 0.3s;
	/* 애니메이션 효과 추가 */
}

.select_btn:hover {
	cursor: pointer;
	background-color: rgb(237, 21, 93);
	color: #fff;
	transform: scale(1.1);
	/* 커서를 가져갈 때 약간 확대 효과 추가 */
}

.select_btn.selected {
	background-color: rgb(237, 21, 93);
	color: #fff;
	transform: scale(1);
	/* 선택된 상태에서 원래 사이즈로 돌아오는 효과 */
	/* 기타 스타일 속성들 */
}

/* ----------------------- 버튼 끝 -----------------------*/


/* 애니버스 인기애니 사진 시작 */

.container1 {

	margin-top: 30px;
	margin-left: 59px;
}

#best {
	font-size: 30px;
	font-weight: bold;
}

.text_con {
	display: flex;
	gap: 8px;
	margin-top: 5px;
}

.rank {
	font-size: 2em;
	font-weight: bold;
}

.title {
	font-weight: bold;
}

.list_container {
	/* display: flex; */
	margin-top: 20px;
}

.category {
	color: gray;
}

.container2 {
	display: flex;
	gap: 15px;
}

.img_size {
	width: 275px;
	cursor: pointer;
}

/* --------------------------------비디오 시작-------------------------------- */
.video_container {

	margin-top: 60px;

}

.video_text {
	margin-bottom: 35px;
}

/* 첫번째 비디오 줄 */
/* 2번째 비디오 줄 */
.video_con {
	margin-bottom: 35px;
	padding-bottom: 20px;
	display: flex;
	/* flex 레이아웃 제거 */
	gap: 10px;
}

.video_flex {
	display: flex;
	flex-wrap: wrap;
}

.video_con2 {
	flex-basis: 28%;
	margin-bottom: 20px;
}



/* 비디오 안 스판태그 */
#video_sp {
	font-size: 25px;
	font-weight: bold;
	border-radius: 15px 15px 15px 0;
	padding: 0.5em 0.6em;
	border: 3px solid #FFAD5B;
	color: #FF8000;
	/* border: 4px solid hsla(335, 100%, 62%, 0.599);
	color: #a1224a; */
}

/* 비디오 밑에 텍스트 */
#video_p,
#video_p2 {
	/* #688FF4; */
	padding: 0.5em;
	border-left: 10px solid #3b426b;
	border-bottom: 2px solid #3b426b;
	color: rgb(46, 46, 46);
	font-size: 24px;
	font-weight: 500;
}



/* --------------------------------비디오 끝 -------------------------------- */


/* 팬아트 시작 */

/* 애니버스 팬아트 */


.container4 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 100px;
}


.container5 {
	display: flex;
	gap: 100px;
}

/* 작성자 컨테이너 */
.writer_con {
	display: flex;
	gap: 6px;
	font-size: 20px;
}

/* 팬아트 사진 사이즈 */
#fanArt_img {
	margin-bottom: 10px;
	width: 270px;
	height: 380px;
}

#fanArt {
	font-size: 25px;
	font-weight: bold;

}

#fanArt_rank {
	font-size: 22px;
	margin-top: 5px;
	font-weight: 500;
}

.fanArt_text {
	margin-bottom: 20px;
}

#fan_sp {
	font-size: 30px;
	font-weight: bold;
	border-bottom: 12px solid #dc0f5a87;
}


.title {
	font-weight: bold;
	font-size: 17px;
}




/* -------------------------------- 팬아트 끝 -------------------------------- */




/* -------------------------------- 스크롤 버튼 -------------------------------- */

.scroll-top-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 100;
	font-size: 18px;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	background: #1abc9c;
	color: white;
	cursor: pointer;
	border-radius: 50%;
	transition: background 0.3s, opacity 0.5s, visibility 0.5s;
	opacity: 0;
	visibility: hidden;
	text-decoration: none;
	font-weight: bold;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.scroll-top-btn:hover {
	background: white;
	color: #1abc9c;
}

.scroll-top-btn.show {
	display: block;
	opacity: 1;
	visibility: visible;
}

/* -------------------------------- 스크롤 버튼 끝 -------------------------------- */


/* 모달 */

/* 모달(Modal) 팝업의 스타일 */

/* 모달창 위치 고정 */
.modal {

	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

/* 모달창 전체 div */
.modal-content {

	background-color: #191b2a !important;
	margin: 150px auto;
	/* 여기서 margin 값을 0으로 수정해주세요. */
	padding: 20px;
	border: none;
	max-width: 700px;
	height: 570px;
	position: fixed;

}

.modal-div {
	display: flex;
	flex-direction: column;
}

/* 모달창 윗부분 동영상 영역이 70% */
#modal-left {
	flex-basis: 70%;
	display: flex;
}

/* 예고편 동영상 */
#modal-left iframe {
	width: 100%;
}

/* 동영상 옆에 텍스트 */
#modal-left>div {
	/* text-align: center; */
	flex-basis: 30%;
	background-color: #ffffff;
	padding: 10px;
	box-sizing: border-box;
	line-height: 2;
}

.modal-right-text {
	font-size: 20px;
	color: #444343;
	font-weight: 550;
}

.summary-title {
	padding-bottom: 5px;
	font-size: 20px;
	color: rgb(226, 226, 226);
	font-weight: 550;

}

.summary {
	color: rgb(226, 226, 226);
}

.modal-right-innerText {
	color: #444343;
}

#modal-right-text {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 5px;
}

.close {
	width: 100px;
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover {
	color: #000;
}


/* -------------------------------- 모달창 끝 -------------------------------- */