/* 모두를 감싸고 있는 부분 (Header,Body,Footer 공통 적용) */

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 글꼴을 적용할 요소 선택자에 대한 스타일 지정 */
body {
    margin: 0;
    font-family: 'Pretendard-Regular', sans-serif;
}

main {
    width: 1300px;
    margin: auto;
    box-sizing: border-box;
}


/* ————————————————— Body 부분 ————————————————— */
#content-main {
    height: auto;
}

/* ————————————————— 메인 컨텐츠 제목 —————————————————*/
#contentTitle {
    height: 100px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(237, 21, 93);

    font-size: 35px;
    font-weight: bold;
}

#contentTitle>article {
    font-size: 16px;
    color: rgb(94, 94, 94);

    margin-top: 10px;
}

/* 메인 컨텐츠 메뉴 */
#contentProfile {
    margin: 20px 0;
    display: flex;
}

#menu {
    flex-basis: 20%;
    margin-bottom: 10px;
    border-right: 2px solid #ddd;
}

#menu-ul {
    list-style-type: none;
    font-size: 20px;
    width: 170px;
}

#menu-ul>li {
    height: 30px;
    margin: 20px 0;
    border-bottom: 2px solid rgb(198, 198, 198);
    cursor: pointer;
}

#menu-ul>li:hover {
    border-bottom: 2px solid rgb(237, 21, 93);
    cursor: pointer;
}

#menu-ul>li:last-child {
    margin-top: 210px;
}

#menu-ul a {
    color: black;
    text-decoration: none;
}

/* 프로필 변경 목록이므로 프로필 변경 메뉴바는 색칠되어야함 */
#menu-ul>li:nth-of-type(1) {
    border-bottom: 2px solid rgb(237, 21, 93);
}

#main-body {
    flex-basis: 80%;
}

/* 프로필 사진 변경 */
#bodyProfile {
    margin-top: 30px;
}

#bodyProfile>form {
    width: 850px;
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bodyProfile label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    border-radius: 5px;

    font-weight: bold;
    font-size: 16px;
}

/* 이미지 삭제 버튼 */

.profile-image-area{
    position: relative;
}

#delete-image{
    position: absolute;
    font-size: 30px;
    top: 5px;

    cursor: pointer;
}



.profile-btn-area {
    width: 250px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-btn-area>* {
    width: 120px;
    height: 40px;
    border: 1px solid black;
    font-size: 14px;
    cursor: pointer;
    text-align: center;

}

#btn-changeProfile {
    color: white;
    background-color: #444343;

    border-radius: 5px;

    font-weight: bold;
    font-size: 14px;
}

#bodyProfileImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

#bodyTable {
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 15px;
}


#search-image {
    display: none;

}

.bodyList {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-size: 24px;

    margin: 10px auto;
    border-spacing: 30px;
}

.bodyList th {
    width: 200px;
    text-align: right;
}

.td1 {
    width: 320px;
    font-size: 20px;
}

.bodyList tr>td:last-child {
    width: 200px;
    font-size: 12px;
}

.td1 input {
    outline: 0;
    border: 0;
    width: 100%;
    font-size: 20px;
    border-bottom: 3px solid rgb(94, 94, 94);
}

.bodyList input:focus {
    outline: 0;
    border-bottom: 3px solid rgb(237, 21, 93);
}