body {
    margin: 0;
    font-family: 'Pretendard-Regular', sans-serif;
    overflow-x: hidden;
}

/* 모두를 감싸고 있는 부분 (Header,Body,Footer 공통 적용) */

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 글꼴을 적용할 요소 선택자에 대한 스타일 지정 */

main {
    box-sizing: border-box;
    width: 1250px;
    margin: auto;
    padding-bottom: 100px;
}

/* Body 부분 */
#content-main {
    height: auto;
    width: 900px;
    margin: 10px auto;
}

#aniTitle {
    height: 60px;
    width: 400px;
    display: flex;
    align-items: center;
    color: rgb(237, 21, 93);

    font-size: 24px;
    font-weight: bold;
    letter-spacing: -2px;
    /* border-bottom: 1px solid rgb(94, 94, 94); */
}

#boardType {
    font-size: 20;
    color: #a9a9a9;
}

#contentTitle {
    width: 100%;
    height: auto;

    margin-bottom: 100px;
}

#contentTitle>article:nth-child(2) {
    text-align: center;
}


#reviewProfile {
    width: 100%;
    margin-top: 15px;
    display: flex;
}

/* 리뷰 작성자 프로필 이미지 */
#reviewProfileImage {
    display: flex;
    align-items: center;
}

#contentProfileImg {
    width: 80px;
}

/* 리뷰 작성자 수정 삭제 별점 */
#reviewContent {
    height: 100px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

#reviewWriter {
    display: flex;

    font-size: 20px;
    flex-basis: 50%;
    align-items: center;
}

#reviewWriter>* {
    margin-right: 10px;
}

#reviewContent>form>input {
    display: flex;
    flex-basis: 50%;
}

#reviewCount {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#reviewCount>div {
    display: flex;
    flex-basis: 50%;

    justify-content: flex-end;
    align-items: center;

    color: #a9a9a9;
    font-size: 20px;
}

//* 라디오 버튼을 숨김 */
#stars input[type=radio] {
    display: none;
}

/* 별 모양 라벨의 기본 스타일 */
#stars label {
    font-size: 28px;
    color: #c8c8c8;
}

/* 체크된 라디오 버튼에 대응하는 라벨 스타일 */
#stars input[type=radio]:checked~label {
    color: rgb(255, 225, 0);
}

/* 수정 삭제 버튼 */
#btn-modify {
    width: 50px;

    font-weight: bold;

    border: 1px solid rgb(94, 94, 94);
    border-radius: 5px;

    color: rgb(94, 94, 94);
    background-color: white;

    cursor: pointer;
}

#btn-modify:hover {
    color: white;
    background-color: rgb(94, 94, 94);
}

#btn-delete {
    width: 50px;

    font-weight: bold;

    border: 1px solid rgb(94, 94, 94);
    border-radius: 5px;

    color: rgb(94, 94, 94);
    background-color: white;

    cursor: pointer;
}

#btn-delete:hover {
    border: 1px solid rgb(237, 21, 93);
    color: white;
    background-color: rgb(237, 21, 93);
}


/* 리뷰 글 작성 */
#reviewPart {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#reviewTextarea {
    width: 100%;
    min-height: 300px;

    color: black;

    display: flex;
    flex-direction: column;

    margin: 20px 0;
    padding: 5px;

    text-align: left;

    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    resize: none;
    line-height: 1.5;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

.reviewPhoto {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;

}

.Photoline {
    /* padding: 10px; */
    /* border: 1px solid #ccc; */
    border-radius: 5px;
}


#reviewPart2 {
    display: flex;
    align-items: center;
    color: rgb(94, 94, 94);
    font-weight: bold;
}

#commentCount {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    font-size: 20px;
}

#countNo {
    color: rgb(239, 161, 15);
    font-size: 20px;
}



/* 댓글 작성 */
#commentProfileImg {
    width: 50px;
}

/* 댓글 작성 관련 버튼 */
#commentBtn {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
}

/* 작성 버튼 */
#btn-review {
    width: 60px;
    height: 30px;

    border: 1px solid rgb(237, 21, 93);
    border-radius: 5px;

    color: rgb(237, 21, 93);
    background-color: white;

    cursor: pointer;
}

#btn-review:hover {
    color: white;
    background-color: rgb(237, 21, 93);
}

/* 이전으로 버튼 */
#btn-back {
    width: 80px;
    height: 30px;

    margin-right: 10px;

    border: 1px solid rgb(237, 21, 93);
    border-radius: 5px;

    color: rgb(237, 21, 93);
    background-color: white;

    cursor: pointer;
}

#btn-back:hover {
    color: white;
    background-color: rgb(237, 21, 93);
}

/* 목록으로 버튼 */
#btn-list {
    width: 80px;
    height: 30px;

    margin-right: 10px;

    border: 1px solid rgb(237, 21, 93);
    border-radius: 5px;

    color: rgb(237, 21, 93);
    background-color: white;

    cursor: pointer;
}

#btn-list:hover {
    color: white;
    background-color: rgb(237, 21, 93);
}

/* 댓글 목록 */
.commentPart2 {
    align-items: center;
    width: 100%;
    height: auto;
}

.commentList {
    width: 100%;
    height: auto;

    margin: 10px 0;
    border-top: 2px solid #a9a9a9;

    list-style-type: none;
}

.commentList>p:first-child {
    display: flex;
    align-items: center;
}

.commentList>p:first-child>* {
    margin-right: 5px;
}

.commentList span {
    display: inline-block;
    color: black;
    font-size: 16px;
}

.commentList span:last-child {
    font-size: 12px;
    color: #a9a9a9;
}

.commentList>div:first-child {
    flex-basis: 5%;
    margin: 0 10px 0 0;
}

.commentList>div:last-child {
    flex-basis: 95%;
    padding-right: 10px;
}

.commentList span {
    font-weight: bold;
}

.imgBorder {
    width: 40px;
}

.commentPart3 {
    width: 100%;
}

.commentPart3-1 {
    width: 100%;
    height: 60%;
}

.commentBody {
    width: 100%;
    min-height: 50px;

    color: black;
    resize: none;
}

.update-textarea {
    width: 100%;
    min-height: 100px;

    margin: 10px 0 10px 0;

    border-radius: 5px;

    padding: 5px 0 0 5px;

    color: black;
    resize: none;
}

/* 작성 댓글 수정 삭제 버튼 */
.btn-comment {
    display: flex;
    justify-content: flex-end;
}

.btn-modify-comment {
    width: 50px;

    margin-left: 5px;

    border: 1px solid rgb(94, 94, 94);
    border-radius: 5px;

    color: rgb(94, 94, 94);
    background-color: white;

    cursor: pointer;
}

.btn-modify-comment:hover {
    color: white;

    border: 1px solid rgb(94, 94, 94);

    background-color: rgb(94, 94, 94);
}

.btn-delete-comment {
    width: 50px;

    margin-left: 5px;

    border: 1px solid rgb(94, 94, 94);
    border-radius: 5px;

    color: rgb(94, 94, 94);
    background-color: white;

    cursor: pointer;
}

.btn-delete-comment:hover {

    color: white;
    border: 1px solid rgb(237, 21, 93);
    background-color: rgb(237, 21, 93);
}

.btn-cancel-comment {
    width: 50px;

    margin-left: 5px;

    border: 1px solid rgb(94, 94, 94);
    border-radius: 5px;

    color: rgb(94, 94, 94);
    background-color: white;

    cursor: pointer;
}

.btn-cancel-comment:hover {

    color: white;
    border: 1px solid rgb(237, 21, 93);
    background-color: rgb(237, 21, 93);
}

/* 댓글 작성 */

#commentPart {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#commentMain {
    flex-basis: 90%;
    display: flex;
}

#commentWrite {
    flex-basis: 10%;
    display: flex;
    margin-left: 10px;
    align-items: center;
}

#comment {
    width: 100%;
    min-height: 100px;
    display: flex;

    color: black;

    border: 1px solid black;
    border-radius: 5px;

    font-size: 16px;

    padding: 10px 0 0 10px;
    margin-left: 10px;

    outline: none;

    resize: none;
}

#btn-write {
    width: 100%;
    height: 100px;

    background-color: white;

    border: 1px solid rgb(94, 94, 94);
    border-radius: 10px;

    cursor: pointer;
}

#btn-write:hover {
    color: white;
    border: 1px solid rgb(237, 21, 93);
    background-color: rgb(237, 21, 93);
}

.star {
    position: relative;
    font-size: 2rem;
    color: #ddd;
}

.star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.star span {
    width: 0;
    position: absolute;
    left: 0;
    color: rgb(255, 215, 71);
    overflow: hidden;
    pointer-events: none;
}

/* Footer 부분 */

* {
    box-sizing: border-box;
}

/* div{border: 1px solid black;} */

footer {
    width: auto;
    height: 250px;
    display: flex;
    background-color: rgb(237, 21, 93);
}

.footer_first {
    width: 35%;
    text-align: center;
}

.footer_first img {
    margin-top: 30px;
}


.footer_first strong {
    color: white;
}

.footer_second {
    width: 45%;
}


.footer_second a {
    text-decoration: 0;
    color: white;
    padding-right: 30px;
    font-size: 12px;

}

p {
    color: white;
    font-size: 14px;
}

.footer_second>div:first-child {
    margin-top: 30px;
    margin-bottom: 50px;
}

.footer_third {
    width: 20%;
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
    padding-top: 60px;
}


.footer_third>i {
    color: white;
    width: 80px;
    font-size: 40px;

}

#text_box {
    display: none;
    color: white;
    text-align: start;
    text-align: center;
}

#btn {
    background-color: rgb(237, 21, 93);
    border: 0;
    cursor: pointer;
}