
#theme{

    color:rgb(237, 21, 93);
}

main{
}

.main_container{
}


.main_first{
    display: flex;
    

    font-size: 40px;
    font-weight: bold;
    padding: 33px;
}

.main_second{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    width: 100%;

}

/* .main_third{
    display: flex;
    width: 350px;

}
.main_fourth{
    display: flex;
    width: 350px;

} */
.second{
    padding-left: 33px;
    padding-bottom: 33px;
    width: 350px;
}
.content{
    text-align: left;
}
.third{
    padding-left: 33px;
    padding-bottom: 33px;

}
.fourth{
    padding-left: 33px;
    padding-bottom: 33px;

}

.a_tag_theme{
    text-decoration: none;
    color: black;
}
.a_tag_theme:hover{

    cursor: pointer;
}
.a_tag_theme > div:nth-child(2){
    font-size: 25px;
    padding-top: 10px;

}
.a_tag_theme > div:nth-child(3){
    padding-top:5px;
    color : gray;
    line-height: 30px;
}

[name=theme_image]{
    width: 370px;
    border-radius: 5px;
}






